.carousel-item img {
  width: 100% !important;
  height: 100% !important;
}

.carousel-item {
  height: 100vh;
}
.navbar {
  background-color: rgba(23, 52, 52, 0.463);
}

.carousel-caption {
  top: 100px;
  color: rgb(32, 78, 24);
}
