.search-bar {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search-bar .logo {
    font-size: 2rem;
    color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 4px rgb(170, 164, 164);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .input-group {   
    box-shadow: 0 1px 2px grey ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.form-control{
    padding-top: 10px;
        padding-bottom: 10px;
}
.accordion-button:not(.collapsed) {
    
    background-color:rgb(235, 138, 235); 
}

.search-bar h1 {
    color: rgb(3, 6, 175);
    font-weight: normal;
}

@media screen and (min-width:768px) {
    .search-bar {
        background-image: url("../img/youtube.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
    }